<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SqlScriptsXmlWorkComputer" value="C:\Users\barry.hill\Personal\CSharp\Projects\MP3Organizer\DAL\SqlScripts.xml"/>
    <add key="SqlScriptsXml1" value="F:\Barry Hill\Computer Science\C Sharp\Projects\MP3Organizer\DAL\SqlScripts.xml"/>
    <add key="SqlScriptsXml3" value="H:\Barry Hill\Computer Science\C Sharp\Projects\MP3Organizer\DAL\SqlScripts.xml"/>
    <add key="SqlScriptsXml4" value="C:\Barry Hill\Computer Science\C Sharp\Projects\MP3Organizer\DAL\SqlScripts.xml"/>
    <add key="SqlScriptsXml5" value="D:\Barry Hill\Computer Science\C Sharp\Projects\MP3Organizer\DAL\SqlScripts.xml"/>
    <add key="MP3RootDir1" value="F:\Barry Hill\My Music\Music"/>
    <add key="MP3RootDir2" value="H:\Barry Hill\My Music\Music"/>
    <add key="MP3RootDir3" value="D:\Barry Hill\My Music\Music"/>    
    <add key="MP3DBFile1" value="F:\Barry Hill\My Music\MP3DB.mdb"/>
    <add key="MP3DBFile2" value="H:\Barry Hill\My Music\MP3DB.mdb"/>
    <add key="MP3DBFile3" value="D:\Barry Hill\My Music\MP3DB.mdb"/>
    <add key="MP3DBFile4" value="C:\Barry Hill\Computer Science\C Sharp\Projects\MP3Organizer\MP3DB.mdb"/>
    <add key="MP3DBFile5" value="D:\Barry Hill\Computer Science\C Sharp\Projects\MP3Organizer\MP3DB.mdb"/>
    <add key="iTunesLibraryFile1" value="C:\Users\barry\Music\iTunes\iTunes Music Library.xml"/>
    <add key="iTunesLibraryFile2" value="C:\Code\Projects\MP3Organizer\MP3OrganizerUI\iTunes\iTunes Music Library.xml"/>
    <add key="iTunesPlayListFolder1" value="C:\iTunesLibraryInfo"/>
    <add key="iPhoneFromBackupFolder1" value="C:\Users\barry\AppData\Roaming\Apple Computer\MobileSync\Backup"/>
    <!--<add key="iPhoneToBackupFolder1" value="C:\temp\BacupTest"/>-->
    <add key="iPhoneToBackupFolder1" value="D:\Barry Hill\Travel\Electronic Devices\iPhone 4\MobileSync\Backup"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
