<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SqlScriptsXmlWorkComputer" value="C:\Users\barry.hill\Personal\CSharp\Projects\MP3Organizer\DAL\SqlScripts.xml" />
    <add key="SqlScriptsXml1" value="SqlScripts.xml" />
    <add key="MP3RootDir1" value="C:\Barry Hill\My Music\Music" />
    <add key="MP3RootDir2" value="D:\Barry Hill\My Music\Music" />
    <add key="MP3DBFile1" value="MP3DB.mdb" />
    <add key="MP3DBFile2" value="..\MP3DB.mdb" />    
    <add key="iTunesLibraryFile1" value="Library.xml" />
    <add key="iTunesLibraryFile2" value="..\Library.xml" />
    <add key="iTunesPlayListFolder1" value="C:\iTunesLibraryInfo" />
    <add key="iPhoneFromBackupFolder1" value="C:\Users\barry\AppData\Roaming\Apple Computer\MobileSync\Backup" />
    <!--<add key="iPhoneToBackupFolder1" value="C:\temp\BacupTest"/>-->
    <add key="iPhoneToBackupFolder1" value="D:\Barry Hill\Travel\Electronic Devices\iPhone 4\MobileSync\Backup" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
